
/* Nested Dropdown (Flyout) Submenu */
.dropdown-menu .dropend .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.125rem;
  margin-top: -0.5rem;
}

.dropdown-menu .dropend .dropdown-toggle::after {
  vertical-align: middle;
  border-left: 0.3em solid;
  border-top: 0.3em solid transparent;
  border-bottom: 0.3em solid transparent;
  border-right: 0;
  margin-left: auto;
}

.dropdown-menu .dropend {
  position: relative;
}

.dropdown-menu .dropend .dropdown-item.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu .dropend:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu .dropend > .dropdown-menu {
  display: none;
  position: absolute;
}

/* Fix nested dropdown in dropup menu (More button) */
.dropup .dropdown-menu .dropend > .dropdown-menu {
  top: auto;
  bottom: 0;
  left: 100%;
  margin-left: 0.125rem;
}

/* Ensure nested menu shows on hover */
.dropdown-menu > .dropend:hover > .dropdown-menu,
.dropup .dropdown-menu > .dropend:hover > .dropdown-menu {
  display: block !important;
  opacity: 1;
  visibility: visible;
}
