# Library Plugin Routes

library_browse:
  url: /library
  param:
    module: ahgLibraryPlugin
    action: browse

library_add:
  url: /library/add
  param:
    module: ahgLibraryPlugin
    action: edit

library_view:
  url: /library/:slug
  param:
    module: ahgLibraryPlugin
    action: index
  requirements:
    slug: .+

library_edit:
  url: /library/:slug/edit
  param:
    module: ahgLibraryPlugin
    action: edit
  requirements:
    slug: .+

library_cover_proxy:
  url: /library/cover/:isbn
  param:
    module: ahgLibraryPlugin
    action: coverProxy
  requirements:
    isbn: '[0-9X]+'
