# Library Plugin Routes
# IMPORTANT: Specific routes MUST come before catch-all slug routes

library_browse:
  url: /library
  param:
    module: ahgLibraryPlugin
    action: browse

library_add:
  url: /library/add
  param:
    module: ahgLibraryPlugin
    action: edit

library_isbn_lookup:
  url: /library/isbn-lookup
  param:
    module: ahgLibraryPlugin
    action: isbnLookup

library_cover_proxy:
  url: /library/cover/:isbn
  param:
    module: ahgLibraryPlugin
    action: coverProxy
  requirements:
    isbn: '[0-9Xx]+'

# Catch-all slug routes LAST
library_edit:
  url: /library/:slug/edit
  param:
    module: ahgLibraryPlugin
    action: edit
  requirements:
    slug: .+

library_view:
  url: /library/:slug
  param:
    module: ahgLibraryPlugin
    action: index
  requirements:
    slug: .+
