# Library Plugin Routes

library_browse:
  url: /library
  param:
    module: ahgLibraryPlugin
    action: browse

library_add:
  url: /library/add
  param:
    module: ahgLibraryPlugin
    action: edit

library_isbn_lookup:
  url: /library/isbn-lookup
  param:
    module: ahgLibraryPlugin
    action: isbnLookup

library_edit:
  url: /library/:slug/edit
  param:
    module: ahgLibraryPlugin
    action: edit
  requirements:
    slug: .+

library_view:
  url: /library/:slug
  param:
    module: ahgLibraryPlugin
    action: index
  requirements:
    slug: .+

library_isbn_providers:
  url: /library/isbn-providers
  param:
    module: ahgLibraryPlugin
    action: isbnProviders

library_isbn_provider_edit:
  url: /library/isbn-provider/edit/:id
  param:
    module: ahgLibraryPlugin
    action: isbnProviderEdit
    id: ~

library_isbn_provider_toggle:
  url: /library/isbn-provider/toggle/:id
  param:
    module: ahgLibraryPlugin
    action: isbnProviderToggle

library_isbn_provider_delete:
  url: /library/isbn-provider/delete/:id
  param:
    module: ahgLibraryPlugin
    action: isbnProviderDelete
